.navbar{
    width: 100%;
    height: var(--navbar-height);
    background-color: #25273E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    width:80%;
    min-height: calc(100vh - 125px);
    margin: auto;
    display: flex;
    justify-content: center;
}